<div class="logisticsList">
	<ion-header-bar class="bar-positive bar-assertive item-input-inset">
		<div class="col col-10 button button-clear" ng-click="back()">
			<i class="icon ion-ios-arrow-back"></i>
		</div>
		<div class="title">查看物流</div>	
		<div class="button button-clear">
			<i class="button button-clear icon ion-ios-search placeholder-icon" ng-click="goValue()"></i>
			<i class="button button-clear icon ion-android-cart placeholder-icon"></i>
		</div>	
	</ion-header-bar>
	<div class="content">
		<div class="row header_box">
			<div class="col col-60">
				<h2 class="header_txt">交易成功</h2>
			</div>
			<div class="col">
				<img src="./images/icons/Evaluate_success_bar_icon_1@3x(21).png" class="auto_img header_img">
			</div>
		</div>

		<div class="list margin_clear">
			<div class="item item-thumbnail-left list_message">
				<img src="./images/icons/Evaluate_success_bar_icon_1@3x(20).png" class="auto_img">
				<div class="list_title padding-top">交易成功</div>
				<div class="list_txt padding-top">2017-09-11 09：07</div>
			</div>
		</div>

		<div class="list margin_clear">
			<div class="item item-thumbnail-left list_message">
				<img src="./images/icons/Evaluate_success_bar_icon_1@3x(19).png" class="auto_img">
				<div class="list_title padding-top">
					<span>收货人：</span>
					<span>黄某某</span>
					<span class="fr">1321254212</span>
				</div>
				<div class="list_txt padding-top">
					<span>收货地址:</span>
					<span class="warp">广东省佛山市南海区狮山镇狮山大学城XXXXX</span>
				</div>
			</div>
		</div>

		<div class="list margin_clear">
			<div class="item">
				<div class="list_color">发票信息</div>
				<div class="list_color padding-top">发票抬头</div>
			</div>
		</div>

		<div class="pro">
			<div class="pro_title padding-left">
				<h4>sana莎娜旗舰店</h4>
			</div>

			<div class="pro_list">
				<div class="list margin_clear border_clear">
					<div class="item item-thumbnail-left">
						<img src="./images/home_Salability_Series-img_1@3x.png" class="auto_img">
						<span class="warp">
							<span class="pro_d">日本sana豆乳洗面奶女深层清洁补水保湿控油泡沫洁面</span>
						 	<span class="fr">￥75.00</span>
						 </span>
						<span class="padding-top">
							<span class="pro_color">化妆品净含量:150g/ml</span>
							<span class="fr">x1</span>
						</span>
					</div>
				</div>
				<div class="clearfix">
					<span class="fr btn">申请售后</span>
					<span class="fr btn ">卖了换钱</span>
				</div>
				<div class="border_line">
					<div class="padding pro_color">
						<span>商品总价</span>
						<span class="fr">￥75.00</span>
					</div>
					<div class="padding pro_color">
						<span>运费(快递)</span>
						<span class="fr">￥10.00</span>
					</div>
					<div class="padding">
						<span>订单总价</span>
						<span class="fr">￥85.00</span>
					</div>
				</div>

				<div class="">
					<span class="fr btn">评价</span>
					<span class="fr btn">卖了换钱</span>
					<span class="fr btn">查看物流</span>
					<span class="fr more">更多</span>
				</div>
			</div>
		</div>
	</div>
</div>