<div class="personData">
	<ion-header-bar class="bar-positive bar-assertive item-input-inset">
		<div class=" button button-clear" ng-click="back()">
			<i class="icon ion-ios-arrow-back"></i>
		</div>
		<div class="title">个人资料</div>	
	</ion-header-bar>
	<div class="content">
			<ul class="setting">
				<li class="clearfix">
					<span class="fl">我的头像</span>
					<span class="fr setting-color">
						<i class="icon ion-chevron-right"></i>
					</span>
					<div class="setting_img1 fr">
						<img src="./images/icons/personal_icon.png" class="fre">
					</div>
					
				</li>
				<li class="clearfix">
					<span class="fl"> 我的名称</span>
					<span class="fr setting-color">Turbo家的机器</span>
				</li>
				<li class="clearfix">
					<span class="fl padding-right">我的二维码</span>
					<span class="fr setting-color">				
						<i class="icon ion-chevron-right"></i>
					</span>
					<div class="setting_img fr">
						<img src="./images/icons/Evaluate_success_bar_icon_1@3x(28).png" class="fr ercode padding-right">
					</div>
					
				</li>
				<li class="clearfix">
					<span class="fl">我的电话</span>
					<span class="fr setting-color">137****1324</span>
				</li>
				<li class="clearfix">
					<span class="fl">性别</span>					
					<span class="fr">
						<span class="setting-color padding-right">男</span>
						<i class="icon ion-chevron-right"></i>
					</span>
				</li>

			</ul>
		</div>
</div>
