body,html{
	height: 100%;
}
.layout{
	height: 100%;
}
.layout .setheight{
	height: 100%;
}
.layout .place{
	padding: 0;
	padding-top: 6px;
	text-align: center;
	font-size: 20px;
}
.layout .search{
	margin:0 0 0 10px;
	border-radius: 5px;
	background: #FFF;
}
.layout .search .search_icon{
	font-size: 22px;
	color: #000;
	float: right;
}
.layout .check_icon{
	font-size: 20px;
}
.layout .check{
	text-align: center;
	float: right;
	padding: 0;
	line-height: 14px;
}
.layout .check>div{
	height: 14px;
	line-height: 14px;
	font-size: 12px;
}
