<div class="dealsuccess">
	<ion-header-bar class="bar-positive bar-assertive item-input-inset">
		<div class=" button button-clear" ui-sref="confirm">
			<i class="icon ion-ios-arrow-back"></i>
		</div>
		<div class="title">交易成功</div>	
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col col-60 align">
				<h4>买家已付款</h4>
				<div class="">卖家将受到您的货款~~</div>
			</div>
			<div class="col">
				<img src="./images/icons/Evaluate_success_bar_icon_1@3x(42).png" class="auto_img">
			</div>
		</div>

		<div class="padding ">
			<div class="clearfix protuck">
				<span class="fl">收货人：</span>
				<div class="clearfix">
					<span class="fl">黄某某</span>
					<span class="fr">131****2121</span>
				</div>
			</div>
			<div>
				<span>收货地址：</span>
				<span>广东省佛山市南海区狮山镇狮山大学城XXXXX</span>
			</div>

			<div class="pay">
				<span class="">实付款：</span>
				<span class="trueM">
					<span>￥</span>
					543.00
				</span>
			</div>

			<div class="box row">
				<div class="col col-50 padding-right">
					<div class="btn fr ">查看订单</div>
				</div>
				<div class="col col-50 padding-left">
					<div class="btn fl">返回菜单</div>
				</div>								
			</div>
		</div>

		<div ui-view class="conter"></div>

	</ion-content>	
</div>