<div>
	<ion-header-bar class="bar-balanced">
		<button class="button button-clear">
			<i class="icon ion-ios-arrow-left"></i>			
		</button>
		<span class="title">找回密码</span>
		<button class="button button-clear" ng-if="!userControl.isControl" ng-click="cancel()">取消</button>
	</ion-header-bar>
	<ion-content>
		<div class="padding-horizontal">
			<button ng-if="userControl.isControl" class="button button-balanced button-full" ng-click="phone()">
				手机号找回密码
			</button>
			<button ng-if="userControl.isControl" class="button button-balanced button-full" ng-click="email()">
				邮箱找回密码
			</button>

			<ion-list ng-if="!userControl.isControl">
			  <ion-item class="item-input" ng-if="!userControl.isEmail">
			    <input type="text" placeholder="手机号" ng-model="userInfo.phone">
			  </ion-item>
			  <ion-item class="item-input">
			    <input type="text" placeholder="邮箱" ng-if="userControl.isEmail" ng-disable="userControl.isGetCode" ng-model="userInfo.email">
			  </ion-item>
			  <ion-item class="item-input">
			    <input type="text" placeholder="验证码" ng-model="userInfo.code">
			    <div class="button button-balanced button-small" style="margin-right:15px;" ng-click="getCode()">获取验证码</div>
			  </ion-item>
			  <ion-item class="item-input">
			    <input type="password" placeholder="新密码" ng-model="userInfo.pwd">
			  </ion-item>
			  <ion-item class="item-input">
			    <input type="password" placeholder="确认密码" ng-model="userInfo.repwd">
			  </ion-item>
			</ion-list>
			<div ng-if="!userControl.isControl" class="button button-full button-balanced">提交</div>
		</div>		
	</ion-content>
</div>